datasets==1.15.1
editdistance==0.6.0
joblib==1.1.0
lemminflect==0.2.2
nltk==3.7
numpy 
pandas==1.3.4
Pillow==8.4.0
tensorboard==2.7.0
tokenizers==0.10.3
torch==1.7.1
tqdm==4.62.3
transformers==4.11.0
Unidecode==1.3.4